
.titlebar{
    background-color: #2596be;
}
span{
    font-size: larger;
    font-weight:bold;
    color: white;
}
.titlename{
    width:100%;
    display:flex;
    margin-left: 39%;
}
a{
    background-color: #145369;
    padding:10px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
}
a:hover{
    cursor: pointer;
}

