*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image: url("Bgimage1.jpg");
    background-size: cover;
}
.slide1{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 315px;
    width: 450px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: black 0px 7px 14px 0px;
    border-radius: 20px;
}
.clickme{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login{
    text-decoration: none;
}
.form{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 56%;
    bottom: 20%;
    transform: translate(-50%,-50%);
    height: 630px;
    width: 350px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: black 0px 7px 14px 0px;
    border-radius: 20px;
}
.form_header{
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 15px;
    background-color:#b3ecff;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-family: 'Aharoni', sans-serif;

}
.form_body{
    margin-top: 30px;
    text-align: left;
    background-color: white;
}
.field{
    font-size: 15px;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    border-style:double;
}
.crossmark{
    position: absolute;
    left: 88%;
    top:1%;
    right: 1;
    font-size:x-large;
    text-decoration: none;
}
img{
    margin-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    height: 100px;
}
