.categories{
    height:160px;
    width: 320px;
    margin-top: 7px;
    margin-left: 60px;
    padding-left: 7px;
    color: white;
    float: left;
    
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 6px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}